<% content_for(:page_title) do %>
  New <%= current_user.organization.name %> user |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%=raw frontend_config.html_safe %>;
    var user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_organization_templates.js', 'new_organization_deps.js', 'new_organization.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'new_organization.css',  :media => 'all' %>
<% end %>

<%= render :partial => 'shared/new_flash_message' %>

<div>
  <div class="Filters is-relative">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li>
                <a href="<%= organization_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink Filters-actionButton NavButton NavButton--back">
                  <i class="iconFont iconFont-ArrowPrev"></i>
                </a>
              </li>
              <li class="Filters-typeItem"><a class="Filters-typeLink is-selected">New user</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="OrganizationContent">
    <div class="u-inner">
      <%= render partial: 'new_form' %>
    </div>
  </div>
</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
