<% content_for(:page_title) do %>
  Edit <%= @user.username %> |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%=raw frontend_config.html_safe %>;
    var user_data = <%= raw current_user.data.to_json.html_safe %>;
    var authenticity_token = "<%= form_authenticity_token %>";
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_organization_templates.js', 'new_organization_deps.js', 'new_organization.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'new_organization.css',  :media => 'all' %>
<% end %>


<%= render :partial => 'shared/new_flash_message' %>

<div>
  <div class="Filters is-relative">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li>
                <a href="<%= organization_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink Filters-actionButton NavButton NavButton--back">
                  <i class="iconFont iconFont-ArrowPrev"></i>
                </a>
              </li>
              <li class="Filters-typeItem"><a class="Filters-typeLink is-selected"><%= @user.username.capitalize %> details</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="OrganizationContent">
    <div class="u-inner">
      <div class="OrganizationUser">
        <ul class="OrganizationUser-stats">
          <li class="OrganizationUser-stat">
            <i class="iconFont iconFont-Document OrganizationUser-statIcon"></i>
            <div class="OrganizationUser-statInfo">
              <em class="OrganizationUser-statTitle"><%= number_with_delimiter(@user.tables.count) %></em>
              <label class="OrganizationUser-statLabel"><%= "Dataset".pluralize(@user.tables.count) %></label>
            </div>
          </li>
          <li class="OrganizationUser-stat">
            <i class="iconFont iconFont-Eye OrganizationUser-statIcon"></i>
            <div class="OrganizationUser-statInfo">
              <% mapCount = @user.owned_visualizations_count %>
              <em class="OrganizationUser-statTitle"><%= number_with_delimiter(mapCount) %></em>
              <label class="OrganizationUser-statLabel"><%= "Map".pluralize(mapCount) %></label>
            </div>
          </li>
          <li class="OrganizationUser-stat">
            <i class="iconFont iconFont-Marker OrganizationUser-statIcon"></i>
            <div class="OrganizationUser-statInfo">
              <em class="OrganizationUser-statTitle"><%= number_with_delimiter(@user.get_geocoding_calls) %></em>
              <label class="OrganizationUser-statLabel"><%= "Georeferenced row".pluralize(@user.get_geocoding_calls) %></label>
            </div>
          </li>
          <li class="OrganizationUser-stat">
            <i class="iconFont iconFont-ProgressBar OrganizationUser-statIcon"></i>
            <div class="OrganizationUser-statInfo">
              <%
                if @user.quota_in_bytes == 0
                  userPer = '0%'
                else
                  userPer = number_to_percentage ((@user.db_size_in_bytes * 100) / @user.quota_in_bytes.to_f), precision: 0
                end
              %>
              <em class="OrganizationUser-statTitle"><%= userPer %></em>
              <label class="OrganizationUser-statLabel">Quota used</label>
            </div>
          </li>
          <li class="OrganizationUser-stat">
            <i class="iconFont iconFont-Map OrganizationUser-statIcon"></i>
            <div class="OrganizationUser-statInfo">
              <em class="OrganizationUser-statTitle"><%= number_with_delimiter(@user.get_api_calls(from: @user.last_billing_cycle, to: Date.today).sum) %></em>
              <label class="OrganizationUser-statLabel"><%= "Map view".pluralize(@user.get_api_calls(from: @user.last_billing_cycle, to: Date.today).sum) %></label>
            </div>
          </li>
          <li class="OrganizationUser-stat">
            <i class="iconFont iconFont-Clock OrganizationUser-statIcon"></i>
            <div class="OrganizationUser-statInfo">
              <% last_access = distance_of_time_in_words_to_now(@user.get_last_active_time) rescue 'Never' %>
              <em class="OrganizationUser-statTitle"><%= last_access %></em>
              <label class="OrganizationUser-statLabel">
                <% if last_access == "Never" %>
                  <%= "connected" %>
                <% else %>
                  <%= "ago last access" %>
                <% end %>
              </label>
            </div>
          </li>
        </ul>
      </div>
    
      <%= render partial: 'new_form' %>
    </div>
  </div>
</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
