
    <span class="Filters-separator"></span>

    <div class="Filters-row">
      <div class="Filters-type">
        <ul class="Filters-list">
          <li class="Filters-typeItem Filters-searchEnabler">
            <a href="#/search" class="Filters-searchLink js-search-link">
              <i class="Filters-searchLinkIcon iconFont iconFont-Lens"></i>Search
            </a>
          </li>
          <li class="Filters-typeItem Filters-searchItem">
            <form class="Filters-searchForm js-search-form" action="<%= router.currentUrl({ search: '', shared: 'yes', locked: false, liked: false  }) %>">
              <input class="Filters-searchInput js-search-input" type="text" value="<%= ( tag && (':' + tag) ) || q %>" placeholder="by name or :tag" />
              <% if (tag || q) { %>
                <a href="<%= router.currentUrl({ search: '', tag: '', shared: 'no' }) %>" class="Filters-cleanSearch js-clean-search">
                  <i class="iconFont iconFont-Close"></i>
                </a>
              <% } %>
            </form>
          </li>
          <li class="Filters-typeItem">
            <a href="<%= currentDashboardUrl %>" class="Filters-typeLink js-link <%= shared === "no" && !liked && !library ? 'is-selected' : '' %>">
              <% if (totalItems) { %>
                <strong><%= totalItems %></strong>
              <% } %>
              <%= pluralizedContentType.charAt(0).toUpperCase() + pluralizedContentType.substring(1) %>
            </a>
          </li>
          <% if (isInsideOrg) { %>
            <li class="Filters-typeItem">
              <a class="Filters-typeLink js-link <%= shared === "only" ? 'is-selected' : '' %>" href="<%= currentDashboardUrl.sharedItems() %>">
                <% if (totalShared) { %>
                  <strong><%= totalShared %></strong>
                <% } %>
                Shared with you
              </a>
            </li>
          <% } %>
          <li class="Filters-typeItem">
            <a class="Filters-typeLink js-link <%= liked ? 'is-selected' : '' %>" href="<%= currentDashboardUrl.likedItems() %>">
              <% if (totalLiked) { %>
                <strong><%= totalLiked %></strong>
              <% } %>
              Liked
            </a>
          </li>
          <% if (content_type === "datasets") { %>
            <li class="Filters-typeItem">
              <a class="Filters-typeLink js-link <%= library ? 'is-selected' : '' %>" href="<%= currentDashboardUrl.dataLibrary() %>">
                Data library
              </a>
            </li>
          <% } %>
        </ul>
      </div>

      <div class="Filters-order">
        <ul class="Filters-list">
          <li class="Filters-orderItem">
            <a data-title="date" class="js-order-link Filters-orderLink Filters-orderLink--clock js-updated_at <%= !order || order === 'updated_at' ? 'is-selected' : '' %>" href="#/time">
              <i class="iconFont iconFont-Clock"></i>
            </a>
          </li>
          <li class="Filters-orderItem">
            <a data-title="visits" class="js-order-link Filters-orderLink Filters-orderLink--graph js-mapviews <%= order === 'mapviews' ? 'is-selected' : '' %>" href="#/views">
              <i class="iconFont iconFont-Stats"></i>
            </a>
          </li>
          <li class="Filters-orderItem">
            <a data-title="likes" class="js-order-link Filters-orderLink Filters-orderLink--heart js-likes <%= order === 'likes' ? 'is-selected' : '' %>" href="#/likes">
              <i class="iconFont iconFont-Heart--empty"></i>
            </a>
          </li>
          <% if (content_type === "datasets") { %>
            <li class="Filters-orderItem">
              <a data-title="size" class="js-order-link Filters-orderLink Filters-orderLink--size js-size <%= order === 'size' ? 'is-selected' : '' %>" href="#/size">
                <i class="iconFont iconFont-Floppy"></i>
              </a>
            </li>
          <% } %>
        </ul>

        <a href="#/<%= content_type === "maps" ? 'new-map' : 'connect-dataset' %>" class="
          Button
          Button--positive
          <%= content_type === 'datasets' && !canCreateDatasets ? 'is-disabled' : ''  %>
          <%= content_type === "maps" ? 'js-new_map' : 'js-new_dataset' %>
          ">
          <span><%= content_type === "maps" ? 'Create Map' : 'Connect Data' %></span>
        </a>
      </div>
    </div>

    <div class="Filters-row">
      <label class="Filters-selectedItems"><%= selectedItemsCount %> <%= pluralizedContentTypeSelected %> selected</label>

      <div class="Filters-actions">
        <ul class="Filters-actionsList">
          <% if (shared !== "only" && shared !== "yes" && !library) { %>
            <li class="Filters-actionsItem">
              <% if (selectedItemsCount < pageItems) { %>
                <a class="Filters-actionsLink js-select_all" href="#/select-all">Select all <%= tag || q ? 'yours' : '' %></a>
              <% }%>
              <% if (selectedItemsCount > 1) { %>
                <a class="Filters-actionsLink js-deselect_all" href="#/deselect-all">Deselect all <%= tag || q ? 'yours' : '' %></a>
              <% } %>
            </li>
            <% if (selectedItemsCount === 1 && !liked) { %>
              <li class="Filters-actionsItem">
                <a class="Filters-actionsLink js-privacy" href="#/change-privacy">Change privacy</a>
              </li>
            <% } %>
            <% if (!q && !tag && !liked) { %>
              <li class="Filters-actionsItem">
                <a class="Filters-actionsLink js-lock" href="#/lock">
                  <%= locked ? 'Unlock' : 'Lock' %> <%= pluralizedContentTypeSelected %>&hellip;
                </a>
              </li>
            <% } %>
          <% } %>
          <% if (content_type === "datasets" && !liked) { %>
            <li class="Filters-actionsItem">
              <% if (selectedItemsCount <= maxLayersByMap) { %>
                <a class="Filters-actionsLink js-create_map" href="#/create-map">Create map</a>
              <% } else { %>
                <span class="Filters-actionsText">Max map layers selected (<%= maxLayersByMap %> max)</span>
              <% } %>
            </li>
          <% } %>
          <% if (canDeleteItems) { %>
            <li class="Filters-actionsItem">
              <a class="Filters-actionsLink is--critical js-delete" href="#/delete">Delete <%= tag || q ? 'your' : '' %> <%= pluralizedContentTypeSelected %>&hellip;</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
