<div class="OnBoarding-map js-onboarding-map"></div>
<% if (renderContent) { %>
  <div class='OnBoarding-welcome'>
    <div class="OnBoarding-welcomeContent">
      <h4 class="OnBoarding-welcomeContentTitle">Aloha <%= username %>!</h4>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Welcome to the CartoDB Editor.</p>
      <p class="OnBoarding-welcomeContentText">Create your first map by clicking on the <em class="is-highlighted">new map button</em>.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">From here, your Dashboard, you will be able to create new maps<sup class="OnBoarding-welcomeContentSup">A</sup> as well as finding the maps you’ve liked<sup class="OnBoarding-welcomeContentSup">B</sup>.</p>
      <button class="Button Button--light OnBoarding-welcomeContentMargin js--welcomeButton">got it</button>
    </div>
    <span class="OnBoarding-fakeSection">B</span>
    <button class="Button Button--positive OnBoarding-fakeLink">Create Map</button>
  </div>
<% } %>
