<% content_for(:page_title) do %>
  <%= current_user.organization.name %> settings |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%=raw frontend_config.html_safe %>;
    var user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_organization_templates.js', 'new_organization_deps.js', 'new_organization.js' -%>
<% end %>

<%= render :partial => 'shared/new_flash_message' %>

<div>
  <%= render :partial => 'admin/shared/new_org_subheader' %>

  <div class="OrganizationContent">
    <div class="u-inner">
      <%= form_for @organization, url: organization_settings_update_path(user_domain: params[:user_domain]), multipart: true do |f| %>
        <%= csrf_meta_tags %>

        <div class="Form-title">
          <p class="Form-titleText">Edit your company settings</p>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Public name</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :name, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Check your <a href="<%= CartoDB.base_url(@organization.name) %>">public page</a></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Website</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :website, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Description</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_area :description, :class => "Form-textarea Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Logo</label>
          </div>
          <div class="Form-rowData Form-avatar">
            <img src="<%= @organization.avatar_url %>" title="" alt="" class="Form-avatarPreview" />
            <%= f.file_field :avatar_url, :class => "js-fileAvatar", :value => "Change avatar" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Recommended images should be 128x128 of size</p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Twitter username</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :twitter_username, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Disqus shortname</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :discus_shortname, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Moderate the comments in your maps</p>
          </div>
        </div>

        <div class="Form-footer">
          <p class="Form-footerText"></p>
          <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
            <% content_tag(:span, 'Save changes') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
