<% content_for(:page_title) do %>
  <%= current_user.organization.name %> |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
    var type = "oauth"
    var config = <%=raw frontend_config.html_safe %>
    var organization_quota = {
      seats: <%= current_user.organization.seats %>,
      quota_in_bytes: <%= current_user.organization.quota_in_bytes %>
    };
    var user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_organization_templates.js', 'new_organization_deps.js', 'new_organization.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag  'new_organization.css',  :media => 'all' %>
<% end %>

<%= render :partial => 'shared/new_flash_message' %>

<div>
  <%= render :partial => 'admin/shared/new_org_subheader' %>

  <div class="OrganizationContent">
    <div class="u-inner">
      <div class="Form">

        <% totalPer = 0 %>

        <ul class="OrganizationList <% 'OrganizationList--centered' if @users.count === 4 %>">
          <% @users.each do |u| %>
            <li class="OrganizationList-user">
              <a class="OrganizationList-userLink" href="<%= edit_organization_user_path(user_domain: params[:user_domain], id: u.username) %>" data-title="<%= number_to_human_size(u.db_size_in_bytes) %> of <%= number_to_human_size(u.quota_in_bytes) %> used">
                <div class="OrganizationList-userAvatar UserAvatar">
                  <img src="<%= u.avatar_url %>" alt="<%= u.username %>" src="<%= u.username %>" class="UserAvatar-img UserAvatar-img--medium" />
                </div>
                <div class="OrganizationList-userInfo">
                  <div class="OrganizationList-userInfoName">
                    <h3 class="OrganizationList-userInfoTitle u-ellipsLongText"><%= u.username %></h3>
                    <% if u.organization_owner? %>
                      <span class="OrganizationList-userInfoLabel">OWNER</span>
                    <% end %>
                  </div>
                  <div class="OrganizationList-userStats">
                    <% userPer = ((u.quota_in_bytes * 100) / current_user.organization.quota_in_bytes ) %>
                    <% usedPer = ((u.db_size_in_bytes * 100) / current_user.organization.quota_in_bytes ) %>
                    <div class="progress-bar">
                      <span class="bar-2" style="left:<%= totalPer %>%; width:<%= userPer %>%"></span>
                      <span class="bar-3" style="left:<%= totalPer %>%; width:<%= usedPer %>%"></span>
                    </div>
                    <% totalPer = totalPer + userPer %>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
          <% if current_user.organization.seats > @users.count %>
            <li class="OrganizationList-user OrganizationList-user--empty">
              <a class="OrganizationList-userLink" href="<%= new_organization_user_path(user_domain: params[:user_domain]) %>">
                <div class="OrganizationList-userAvatar OrganizationList-userAvatar--default">
                  <i class="iconFont iconFont-DefaultUser"></i>
                </div>
                <div class="OrganizationList-userInfo">
                  <div class="OrganizationList-userInfoName">
                    <h3 class="OrganizationList-userInfoTitle OrganizationList-userInfoTitle--default">Empty seat</h3>
                  </div>
                  <div class="OrganizationList-userInfoDes">Create new user</div>
                </div>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="Form-footer">
          <% if current_user.organization.seats > @users.count %>
            <% if (current_user.organization.seats - @users.count) < 5 %>
              <p class="Form-footerText">
                <i class="iconFont iconFont-Info Form-footerIcon"></i>
                You are near your seats limit. Consider to <a href="<%= current_user.upgrade_url(request.protocol) %>">upgrade your account</a>.
              </p>
            <% else %>
              <em></em>
            <% end %>
            <a href="<%= new_organization_user_path(user_domain: params[:user_domain]) %>" class="Button Button--main"><span>Create new user</span></a>
          <% elsif !Cartodb.config[:cartodb_com_hosted].present? %>
            <p class="Form-footerText">
              <i class="iconFont iconFont-Info Form-footerIcon"></i>
              <a href="mailto:sales@cartodb.com">Contact us</a> if you have any question.
            </p>
            <a href="<%= current_user.upgrade_url(request.protocol) %>" class="Button Button--positive"><span>Upgrade account</span></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
