<% if (option !== 'templates' && option !== "loading") { %>
  <div class="CreateDialog-footerShadow"></div>
  <div class="CreateDialog-footerLine"></div>
  
  <div class="CreateDialog-footerInner <% if (importState === "scratch" || ( datasetsState === "library" && !isMapType )) { %> is-centered <% } %>">
    <% if (option === 'listing') { %>

      <% if (listingState === "list") { %>
        <% if (datasetsState === "library" && !isMapType) { %>
          <div class="CreateDialog-footerInfo">
            <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i> Once you click over one of these items it will be imported to your account.
          </div>
        <% } else { %>
          <div class="CreateDialog-footerInfo">
            <% if (selectedDatasetsCount === 0) { %>
              Select datasets for your new map (0/<%= maxSelectedDatasets%>)
            <% } else if (selectedDatasetsCount < maxSelectedDatasets) { %>
              <%= selectedDatasetsCount %> dataset<%= selectedDatasetsCount !== 1 ? 's' : '' %> selected
            <% } else { %>
              You have reached the max layers for a new map (<%= maxSelectedDatasets %> max)
            <% } %>
          </div>
          <div class="CreateDialog-footerActions">
            <% if (selectedDatasetsCount === maxSelectedDatasets && userCanUpgrade) { %>
              <a class="Button Button--main CreateDialog-footerActionsButton is-separated js-upgrade" href="<%= upgradeUrl %>"><span>upgrade</span></a>
            <% } %>
            <button class="Button Button--positive CreateDialog-footerActionsButton js-create_map <%= selectedDatasetsCount === 0 ? 'is-disabled' : '' %>">create map</button>
          </div>
        <% } %>
      <% } %>

      <% if (listingState === "import") { %>
        <% if (importState === 'scratch') { %>
          <% if (isMapType) { %>
            <div class="CreateDialog-footerInfo">
              <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i>New on CartoDB? Start with one of <a href="#/templates" class="js-templates">our templates</a>.
            </div>
          <% } %>
        <% } else { %>
          <% if (enabledUpload) { %>
            <div class="CreateDialog-footerInfo">
              <% if (importState !== "twitter") { %>
                <div class="Checkbox <%= isUploadValid ? '' : 'is-disabled' %>">
                  <button  class="Checkbox-input <%= typeGuessing ? 'is-checked' : '' %> js-guessing"></button>
                  <label class="Checkbox-label">Let CartoDB automatically guessing types on import.</label>
                </div>
              <% } else if (!customHosted) { %>
                  To get access to historical data (older than 30 days) you need to <a href="mailto:support@cartodb.com">contact our team</a>
              <% } %>
            </div>
            <div class="CreateDialog-footerActions">
              <button class="Button Button--positive CreateDialog-footerActionsButton <% if (!isUploadValid) { %>is-disabled<% } %> js-connect">connect dataset</span></button>
            </div>
          <% } %>
        <% } %>
      <% } %>
      
    <% } %>

    <% if (option === 'preview') { %>
      <div class="CreateDialog-footerInfo">
        <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i>Take your time to watch this tutorial or skip it and start creating your map now
      </div>
      <div class="CreateDialog-footerActions">
        <a href="<%= currentUrl %>" target="_blank" class="Button Button--positive CreateDialog-footerActionsButton js-start">
          <span>go for it</span>
        </a>
      </div>
    <% } %>
  </div>
<% } %>