/*
 *  VARS
 *  General vars for the project
 */

$w:760px;

/* Fonts */

$text-fonts: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$text-fonts2: "Helvetica", Arial, sans-serif;
$title-fonts: "Helvetica", Arial, sans-serif;
$title-fonts2: "Helvetica Neue", "Helvetica", Arial, sans-serif;


/* Base colors */

$cWhite:                 #FFFFFF;

$cGray7:                 #444444;
$cGray6:                 #797979;
$cGray5:                 #222222;
$cGray4:                 #CCCCCC;
$cGray3:                 #999999;
$cGray2:                 #666666;
$cGray1:                 #333333;
$cGray0:                 #000000;

$cBlack:                 $cGray0;


/* Custom colors */

$cOrange:                #FF9900;
$cBlue:                  #2483B4;

$link-color:             #397DBA;
$link-hover-color:       #2B6191;
$button-bkg-color:       #F2F2F2;
