<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title -%>CartoDB</title>
    <%= favicon_link_tag "/favicons/favicon.ico" -%>
    <%= stylesheet_link_tag 'cartodb.css', 'new_common.css', :media => 'all' %>
    <%= yield :css -%>
    <%= csrf_meta_tag -%>
  </head>
  <body>
    <% if ( ( controller_name != "visualizations" && controller_name != "tables" )  || action_name != "show" ) %>
      <%= render 'admin/shared/new_private_header' %>
    <% else %>
      <%= render 'admin/shared/vis_header' %>
    <% end %>
    <%= yield %>
    <% if ( ( controller_name == "visualizations" || controller_name == "tables" ) && action_name == "show" ) %>
      <%= render 'shared/olark' -%>
    <% end %>

    <%= insert_trackjs() -%>
    <%= render 'shared/mixpanel' -%>
    <%= yield :js -%>
    <%= insert_google_analytics('primary') -%>
    <%= render 'shared/hubspot' -%>
  </body>
</html>
